<!DOCTYPE html><html lang=en><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><link rel=icon href=favicon.ico><title>BenGoFrame Report</title><style>body {
        margin: 0px;
        padding: 0px;
      }</style><script>var testData = {
        testConfig: {
          testSuite: "Ben",
          gridAddress: "http://localhost:4444/wd/hub",
          logLevel: "Info",
          threadCount: "2",
          database: "Cucumber-QA",
          startTime: "2020-03-05 21:13:56",
          endTime: "2020-03-05 22:13:56",
          takeTimes: "1 hs 0 mins 0 ss",
          reRun: "No"
        },
        casesChart: {
          totalCases: "12",
          passed: "6",
          failed: "6"
        },
        stepsChart: {
          totalSteps: "120",
          passed: "50",
          failed: "70"
        },
        featureSummary: [
          {
            featureName: "TestModules",
            total: "15",
            passed: "10",
            failed: "10",
            passRate: "20%"
          },
          {
            featureName: "TestModules",
            total: "15",
            passed: "10",
            failed: "10",
            passRate: "20%"
          },
          {
            featureName: "Test1",
            total: "15",
            passed: "10",
            failed: "10",
            passRate: "20%"
          },
          {
            featureName: "Test2",
            total: "15",
            passed: "10",
            failed: "10",
            passRate: "20%"
          },
          {
            featureName: "Test3",
            total: "15",
            passed: "10",
            failed: "10",
            passRate: "20%"
          },
          {
            featureName: "Test4",
            total: "15",
            passed: "10",
            failed: "10",
            passRate: "20%"
          }
        ],
        testDetails: [
          {
            testName: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
            featureName: "TestModules",
            status: "Passed",
            datas: { url: "dwsdww", selenium: "dwsd" },
            timeTakes: "01 hs 23 mins 33 ss",
            steps: [
              {
                stepDescription: "Helldwdwdwdo",
                stepStatus: "passed",
                data: "123",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: ""
              },
              {
                stepDescription: "Hqwdqwdqwello2",
                stepStatus: "failed",
                data: "334",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Helqwdqwqwqwlo3",
                stepStatus: "passed",
                data: "223",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Hellqwdsdasdo4",
                stepStatus: "failed",
                data: "564",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              }
            ]
          },
          {
            testName: "B",
            featureName: "Test1",
            status: "Failed",
            datas: { url: "asdasd", selenium: "1wwe23" },
            timeTakes: "01 hs 23 mins 33 ss",
            steps: [
              {
                stepDescription: "Helqqqqqqqqqlo",
                stepStatus: "passed",
                data: "1232222222222222222",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Helxxxxxxlo2",
                stepStatus: "failed",
                data: "334",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Helxxxxxxxxxlo3",
                stepStatus: "passed",
                data: "223",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Helldsdxxxxo4",
                stepStatus: "failed",
                data: "564",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              }
            ]
          },
          {
            testName: "C",
            featureName: "Test2",
            status: "Failed",
            datas: { url: "wqqsasdww", selenium: "123" },
            timeTakes: "01 hs 23 mins 33 ss",
            steps: [
              {
                stepDescription: "Hello",
                stepStatus: "passed",
                data: "123",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Hewwdwdwdsdllo2",
                stepStatus: "passed",
                data: "334",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Hellwdwdwo3",
                stepStatus: "passed",
                data: "223",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "wdwdwdsd",
                stepStatus: "passed",
                data: "564",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              }
            ]
          },
          {
            testName: "D",
            featureName: "Test3",
            status: "Passed",
            datas: { url: "ddsdwwdw", selenium: "123" },
            timeTakes: "01 hs 23 mins 33 ss",
            steps: [
              {
                stepDescription: "Hewwwwllo",
                stepStatus: "passed",
                data: "123",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Helwwwwwwlo2",
                stepStatus: "passed",
                data: "334",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Helwwwwwwlo3",
                stepStatus: "passed",
                data: "223",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              },
              {
                stepDescription: "Helwwwwwwwwwlo4",
                stepStatus: "failed",
                data: "564",
                findBy: "asdasd",
                stepDetails: "asdasdasd",
                screenShot: "tes111.png"
              }
            ]
          }
        ]
      };</script><link href=static/css/app.f4bdddce.css rel=preload as=style><link href=static/css/chunk-vendors.717c90ab.css rel=preload as=style><link href=static/js/app.a0a6dfd3.js rel=preload as=script><link href=static/js/chunk-vendors.44db43e5.js rel=preload as=script><link href=static/css/chunk-vendors.717c90ab.css rel=stylesheet><link href=static/css/app.f4bdddce.css rel=stylesheet></head><body><noscript><strong>We're sorry but py-report doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div><script src=static/js/chunk-vendors.44db43e5.js></script><script src=static/js/app.a0a6dfd3.js></script></body></html>